
body {

    background-image: url("tennisbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    font-size: 25px;
}


.btn{
    background-color: #00FF00;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.btn:hover{
    background-color: #00FF00;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.btn:active{
    background-color: #00FF00;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.btn:focus{
    background-color: #00FF00;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(6, 122, 10);
}



